@import '../../mixins';
@import '../../variable';
.referalcode-wallet{
     @include flexprob(row,space-around);
     font-family: Poppins;
     flex-wrap: wrap;
     gap: 1rem;
     
     .referal{
          @include flexprob(column,center);
          color: $color;
          gap: 0.3rem;

          .referal-code{
               @include flexprob(row,center);
               width: 153px;
               height: 50px;
               border: 1.5px solid #DFDFDF;
               border-radius: 10px;
               letter-spacing: 0.5rem;
               font-size: 1.2rem;
               font-weight: bold;
          }
     }
     
     .wallet{
          @include flexprob(column,center);
          padding: 1rem 1.5rem;
          font-size: 1rem;
          border-radius: 20px;
          color: $color;
          gap: 0.6rem;
          box-shadow: 0px 2px 8px 0px rgba(128, 0, 128, 0.15);
     }
}

@media screen and (max-width:786px) {
     .referalcode-wallet{
          .wallet{
               padding: 1rem 1rem;
          }
     }
}
@media screen and (max-width:375px) {
     .referalcode-wallet{
          .referal{
               width: 100%;
               .referal-code{
                    width: 100%;
               }
          }
          .wallet{
               width: 100%;
          }
     }
}
