.refer_earn_wrapper{
     display: flex;
     flex-direction: column;
     padding: 0 5rem 2rem 5rem;
     gap: 2rem;

     .footer{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          p{
               color: #800080;
               font-size: 1rem;
               font-weight: bold;
          }
     }
}

@media screen and (max-width:786px) {
     .refer_earn_wrapper{
          padding: 2rem;
          padding-top: 0;
     }
}